<div class="container p-5">
  <form #blogForm="ngForm" (ngSubmit)="onSubmit(blogForm.value)">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Blog Title</label>
    <input type="text" [(ngModel)]="blogTitle" name="blogTitle" class="form-control" id="formGroupExampleInput" placeholder="Title">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Blog Content</label>
    <textarea name="content" class="form-control" name ="blogPost" placeholder="Blog content goes here" id="formGroupExampleInput2" cols="30" [(ngModel)]="blogPost" rows="10"></textarea>
  </div>
  <button class="btn btn-primary" (click)="show = !show">Save</button>
  <a href="" class="btn btn-large btn-warning" [@fade] *ngIf="show">Afolabi</a>
  </form>
</div>